@import "https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
}

.navbar {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 80px;
  background-color: #eff3f8;
  padding: 0.4rem 0.8rem;
  transition: all 0.16s ease;
  float: left;
}

.container .main-content {
  width: 100%;
  flex-grow: 1;
}

.navbar.active ~ .main-content {
  left: 220px;
  width: calc(100% - 220px);
}

.navbar.active {
  width: 220px;
  overflow-y: auto;
}

.navbar #navbarButton {
  position: absolute;
  color: #000;
  top: 0.4rem;
  left: 48%;
  font-size: 1.5rem;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}

.navbar.active #navbarButton {
  left: 90%;
}

.navbar .navbar-body {
  margin-top: 35px;
}

.navbar .top .logo {
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  color: #424242;
}

.navbar-tooltip div:not(div.sub-menu-header) {
  font-size: 0.85rem;
  margin-top: 3px;
}

.navbar .top .logo div,
.navbar-tooltip div.sub-menu-header {
  font-size: 1rem;
  margin-top: 3px;
}

.navbar-tooltip div.sub-menu-header {
  font-weight: 500;
  color: #424242;
  border-bottom: 2px solid #424242;
}

.navbar.active .top .logo {
  opacity: 1;
}

.navbar .top .logo i {
  font-size: 2.2rem;
  margin-right: 5px;
}

.navbar .navbar-element li {
  position: relative;
  list-style-type: none;
  height: 50px;
  width: 100%;
  margin: 0.8rem auto;
  line-height: 50px;
}

.navbar .navbar-element li a {
  display: flex;
  text-decoration: none;
  align-items: center;
  border-radius: 5px;
  color: #616161;
  transition: 0.16s ease;
}

.navbar .navbar-element li a:hover {
  background-color: #e2e2e25d;
}

.navbar .navbar-element li a i {
  min-width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 12px;
  line-height: 50px;
}

.navbar .navbar-element .navbar-item {
  opacity: 0;
  transition: 0.16s;
}

.navbar.active .navbar-element .navbar-item {
  opacity: 1;
  transition: 0.16s;
}

.navbar .navbar-element li .navbar-tooltip {
  min-width: 100px;
  position: absolute;
  left: 123%;
  top: 10%;
  border-radius: 5px;
  /* padding: .4rem 0rem; */
  line-height: 1.8rem;
  z-index: 20;
  background-color: #eff3f8;
  color: #616161;
  display: none;
}

.navbar-tooltip div a,
.navbar-tooltip div.sub-menu-header {
  padding: 0rem 1.2rem;
  height: 40px;
}

.navbar .navbar-element li:hover .navbar-tooltip {
  display: block;
}

.navbar.active .navbar-element li .navbar-tooltip {
  display: none;
}

.navbar .navbar-element li .navbar-tooltip div:not(:first-child) {
  margin-top: 10px;
}

.navbar-element .sub-menu {
  width: 70%;
  border-left: 2px solid #616161;
  margin-left: 50px;
  margin-top: 0;
  padding-left: 8px;
  font-size: 0.85em;
  display: none;
}

.navbar-element .sub-menu a {
  padding-left: 10px;
}

.navbar-element .sub-menu li {
  margin-top: 0;
}

.navbar .navbar-element .toogle-sub-menu-icon,
.navbar-element .sub-menu {
  display: none;
  transition: 0.16s;
}

.navbar.active .navbar-element .toogle-sub-menu-icon,
.navbar.active .navbar-element .sub-menu.active {
  display: inline-block;
  transition: 0.16s;
}

.navbar .active {
  color: #3b82f6;
}

.toogle-sub-menu-icon {
    cursor: pointer;
}